## Sample Data Load (SQLite)

In [1]:
import json

schema_file_path = './db_schema.json'
with open(schema_file_path, 'r') as file:
    schema_data = json.load(file)

### Table Creation

In [2]:
import sqlite3
import csv
import pandas as pd

db_name = 'sample.db'
table_name = 'food_sales_table'
sample_data_path = 'demo_data.csv'
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

In [3]:
drop_table_query = f'''
DROP TABLE IF EXISTS {table_name}
'''

create_table_query = f'''
CREATE TABLE {table_name} (
'''

for column in schema_data[table_name]['cols']:
    column_name = column['col']
    data_type = column['type']
    create_table_query += f"    {column_name} {data_type},\n"

create_table_query = create_table_query.rstrip(',\n') + '\n)'
print(create_table_query)

CREATE TABLE food_sales_table (
    reference_month varchar,
    headquaters_current_id varchar,
    headquaters_current_name varchar,
    business_current_department_code varchar,
    business_current_department_name varchar,
    sales_group_current_code varchar,
    sales_group_current_name varchar,
    route_current_business_department_code varchar,
    route_current_business_department_name varchar,
    manager_id varchar,
    manager_name varchar,
    head_office_code varchar,
    head_office_name varchar,
    customer_id varchar,
    customer_name varchar,
    product_number varchar,
    product_name varchar,
    large_product_category varchar,
    large_product_category_name varchar,
    middle_product_category varchar,
    middle_product_category_name varchar,
    small_product_category varchar,
    small_product_category_name varchar,
    detailed_product_category varchar,
    detailed_product_category_name varchar,
    pb_div_cd varchar,
    pb_div_nm varchar,
    sales_value_at_handling_reference float,
    sales_profit_amount float
)

In [4]:
try:
    cursor.execute(drop_table_query)
    cursor.execute(create_table_query)
    conn.commit()
    print(f"Table {table_name} has been recreated successfully.")
    
    with open(sample_data_path, 'r', encoding='utf-8') as csv_file:
        csv_reader = csv.reader(csv_file)
        headers = next(csv_reader)

        placeholders = ','.join(['?' for _ in headers])
        insert_query = f'''
        INSERT INTO {table_name} ({','.join(headers)})
        VALUES ({placeholders})
        '''

        for row in csv_reader:
            cursor.execute(insert_query, row)

    conn.commit()
    print("Data has been inserted successfully.")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")
    conn.rollback()

finally:
    conn.close()

Table food_sales_table has been recreated successfully.
Data has been inserted successfully.

### Test Run

In [7]:
import pandas as pd

conn = sqlite3.connect(db_name)

with open('sample_queries.json', 'r') as f:
    queries = json.load(f)

for n, query_info in enumerate(queries): 
    query = query_info['sql_query']
    question = query_info['question']
    df = pd.read_sql_query(query, conn)
    print(f"Question {n}:", question)
    print(f"Result {n}:", df)

Question 0: 당월 매출 조회
Result 0:   reference_month  current_month_sales
0         2024.11         2.121339e+07
Question 1: 전월비 매출 조회
Result 1:    current_month_sales  previous_month_sales  mom_change
0         2.121339e+07          2.249515e+07   -5.697934
Question 2: 최근 3개월 사업부 매출
Result 2:    business_current_department_code business_current_department_name  \
0                             18075                            사업부_2
1                             18075                            사업부_2
2                             18075                            사업부_2
3                             66484                            사업부_3
4                             66484                            사업부_3
5                             66484                            사업부_3
6                             80841                            사업부_1
7                             80841                            사업부_1
8                             80841                            사업부_1
9                             84073                            사업부_4
10                            84073                            사업부_4
11                            84073                            사업부_4
12                            87570                            사업부_5
13                            87570                            사업부_5
14                            87570                            사업부_5

   reference_month  sales_last_3_months
0          2024.09         3.221714e+06
1          2024.10         4.901856e+06
2          2024.11         4.615234e+06
3          2024.09         4.876161e+06
4          2024.10         4.221305e+06
5          2024.11         3.699103e+06
6          2024.09         4.242266e+06
7          2024.10         3.802311e+06
8          2024.11         4.354655e+06
9          2024.09         4.267549e+06
10         2024.10         5.155687e+06
11         2024.11         3.892913e+06
12         2024.09         4.285401e+06
13         2024.10         4.413990e+06
14         2024.11         4.651485e+06
Question 3: 전월비 매출하락(MoM) Top 고객
Result 3:   customer_id customer_name  current_month_sales  previous_month_sales  \
0    16070762          고객_1         6.385003e+05          1.487770e+06
1    24211193         고객_13         8.167846e+05          1.561726e+06
2    58634617          고객_5         5.982508e+05          1.222751e+06
3    75142952          고객_3         9.049879e+05          1.368058e+06
4    23407255          고객_9         7.362571e+05          1.107212e+06
5    07489926         고객_15         1.497757e+06          1.640309e+06
6    05847842          고객_8         1.096333e+06          1.222118e+06
7    26118220         고객_16         1.085737e+06          1.205440e+06
8    54654342         고객_14         1.058711e+06          1.127938e+06
9    17448779          고객_6         1.661779e+06          1.678938e+06

    sales_change  mom_change_percentage
0 -849270.099814             -57.083411
1 -744941.720378             -47.699890
2 -624500.128227             -51.073373
3 -463069.798203             -33.848704
4 -370955.108233             -33.503524
5 -142552.764594              -8.690603
6 -125785.373773             -10.292409
7 -119703.205059              -9.930252
8  -69226.426155              -6.137432
9  -17158.266781              -1.021972
Question 4: 최근 1년 총매출과 매출이익
Result 4:    year  total_sales_last_12_months  total_sales_profit_last_12_months
0  2024                2.714254e+08                       2.745452e+07
Question 5: 작년 1분기 대비 올해 1분기 사업부별 매출, 매익율 증감율
Result 5:   business_current_department_code business_current_department_name quarter  \
0                            80841                            사업부_1      Q1
1                            18075                            사업부_2      Q1
2                            66484                            사업부_3      Q1
3                            84073                            사업부_4      Q1
4                            87570                            사업부_5      Q1

   sales_growth_rate  profit_margin_change_rate
0           1.005146                  -1.064994
1          17.016999                  -1.355422
2          15.401995                   0.803998
3          -2.830314                   0.416607
4           4.702264                   0.755432
Question 6: 매익률이 3개월 연속적으로 하락한 사업부
Result 6:   business_current_department_code business_current_department_name
0                            80841                            사업부_1
1                            18075                            사업부_2
2                            66484                            사업부_3
3                            84073                            사업부_4
4                            87570                            사업부_5
Question 7: 각 사업부의 월별 매출, 매출 이익 및 매익률 계산
Result 7:     reference_month business_current_department_code  \
0           2023.01                            18075
1           2023.02                            18075
2           2023.03                            18075
3           2023.04                            18075
4           2023.05                            18075
..              ...                              ...
110         2024.07                            87570
111         2024.08                            87570
112         2024.09                            87570
113         2024.10                            87570
114         2024.11                            87570

    business_current_department_name         sales         profit  \
0                              사업부_2  4.144710e+06  417680.039225
1                              사업부_2  3.771140e+06  430099.398759
2                              사업부_2  4.908148e+06  503553.834965
3                              사업부_2  4.104662e+06  395974.814414
4                              사업부_2  4.015714e+06  412132.334441
..                               ...           ...            ...
110                            사업부_5  4.593228e+06  451408.191343
111                            사업부_5  3.996114e+06  468627.583030
112                            사업부_5  4.285401e+06  483180.251295
113                            사업부_5  4.413990e+06  421933.638372
114                            사업부_5  4.651485e+06  480712.324082

     profit_margin
0        10.077424
1        11.405024
2        10.259549
3         9.646953
4        10.262990
..             ...
110       9.827690
111      11.727083
112      11.275030
113       9.559008
114      10.334600

[115 rows x 6 columns]
Question 8: 작년 1분기 대비 경로별 사업부 매출, 매익 증감율
Result 8:    route_current_business_department_code business_current_department_code  \
0                                   09014                            18075
1                                   09014                            66484
2                                   09014                            80841
3                                   09014                            84073
4                                   09014                            87570
5                                   37283                            18075
6                                   37283                            66484
7                                   37283                            80841
8                                   37283                            84073
9                                   37283                            87570
10                                  42605                            18075
11                                  42605                            66484
12                                  42605                            80841
13                                  42605                            84073
14                                  42605                            87570
15                                  45128                            18075
16                                  45128                            66484
17                                  45128                            80841
18                                  45128                            84073
19                                  45128                            87570
20                                  93691                            18075
21                                  93691                            66484
22                                  93691                            80841
23                                  93691                            84073
24                                  93691                            87570

    sales_growth_rate  profit_margin_change_rate
0           18.432556                  -1.468106
1            3.131034                   1.452938
2          -15.572397                  -0.971748
3            7.902784                   2.765150
4           13.706579                   3.750596
5           20.727946                  -1.887840
6           21.039848                  -0.493378
7           29.393930                  -2.145723
8           -9.089810                  -0.352152
9          -13.530908                   2.099490
10          30.851820                  -2.268000
11           7.691202                   0.574047
12         -11.482310                  -1.940677
13           2.075515                  -0.198011
14          -5.420923                   0.407043
15           5.648556                   0.862626
16          86.108485                   1.542887
17          -2.202431                   0.776248
18          12.364938                  -0.244893
19          10.335144                  -0.514438
20          10.924404                  -2.105184
21         -13.722727                   1.579169
22          13.408483                  -0.737371
23         -21.552967                   0.034915
24          23.965615                  -1.960089
Question 9: 3분기 사업부별 매익률
Result 9:   business_current_department_code business_current_department_name  \
0                            18075                            사업부_2
1                            66484                            사업부_3
2                            80841                            사업부_1
3                            84073                            사업부_4
4                            87570                            사업부_5

    total_sales  total_profit  profit_margin
0  1.257234e+07  1.326485e+06      10.550827
1  1.376868e+07  1.362661e+06       9.896816
2  1.204653e+07  1.329843e+06      11.039217
3  1.378874e+07  1.372458e+06       9.953476
4  1.287474e+07  1.403216e+06      10.898983
Question 10: 최근 3개월 연속 매출 상승한 사업부
Result 10:   business_current_department_code business_current_department_name  month_1  \
0                            66484                            사업부_3  2024.10

   profit_margin_1  month_2  profit_margin_2  month_3  profit_margin_3
0         2.666525  2024.10         0.043468  2024.10         0.019925
Question 11: 경로별 매출 비중이 높은 TOP 상품
Result 11:   route_current_business_department_code  \
0                                  09014
1                                  37283
2                                  42605
3                                  45128
4                                  93691

  route_current_business_department_name product_number product_name  \
0                                경로사업부_2       34861879      상품_7949
1                                경로사업부_5       20386323      상품_2881
2                                경로사업부_1       12847540      상품_3613
3                                경로사업부_4       22108792      상품_5154
4                                경로사업부_3       85801295      상품_9352

   product_sales  sales_percentage
0   99953.726658          0.101970
1   99977.034766          0.095434
2   99978.511789          0.100024
3   99978.400092          0.097583
4   99987.109439          0.099734
Question 12: 전체 매출 대비 PB_1 상품 비중
Result 12:     total_sales      pb_sales  pb_sales_percentage
0  5.054463e+08  1.260606e+08            24.940444
Question 13: PB_2 상품 매출 비중
Result 13:     total_sales    pb_2_sales  pb_2_sales_percentage
0  5.054463e+08  1.259378e+08              24.916151
Question 14: 전체 상품 중 PB_3 상품 비중
Result 14:    total_product_count  pb_3_product_count  pb_3_product_percentage
0                10000                2513                    25.13
Question 15: 사업부_3 PB_2 상품 매출 비중
Result 15:     total_sales      pb_sales  pb_sales_percentage
0  9.891371e+07  2.375485e+07            24.015729

### OpenSearch Indexing

In [28]:
#!pip install opensearch-py

In [37]:
import os
from dotenv import load_dotenv
from opensearchpy import OpenSearch, RequestsHttpConnection

load_dotenv()

host = os.getenv('OPENSEARCH_HOST')
user = os.getenv('OPENSEARCH_USER')
password = os.getenv('OPENSEARCH_PASSWORD')

os_client = OpenSearch(
    hosts = [{'host': host.replace("https://", ""), 'port': 443}],
    http_auth = (user, password),
    use_ssl = True,
    verify_certs = True,
    connection_class = RequestsHttpConnection
)

In [38]:
mapping = {
    "settings": {
        "index.knn": True,
        "index.knn.algo_param.ef_search": 512
    },
    "mappings": {
        "properties": {
            "question": {
                "type": "text",
                "analyzer": "standard"
            },
            "sql_query": {
                "type": "text"
            },            
            "question_embedding": {
                "type": "knn_vector",
                "dimension": 1024,
                "method": {
                    "engine": "faiss",
                    "name": "hnsw",
                    "parameters": {
                        "ef_construction": 512,
                        "m": 16
                    },
                    "space_type": "l2"
                }
            }
        }
    }
}

In [ ]:
index_name = "sample_queries"

def create_index(index_name):
    if os_client.indices.exists(index_name):
        os_client.indices.delete(index_name)
        print(f"Existing index '{index_name}' deleted.")

    os_client.indices.create(index=index_name, body=mapping)
    print(f"Index '{index_name}' created successfully.")

create_index(index_name)

In [43]:
import boto3

bedrock_client = boto3.client("bedrock-runtime", region_name="us-west-2")
embed_model = "amazon.titan-embed-text-v2:0"

with open(f"sample_queries.json", 'r', encoding='utf-8') as f:
    documents = json.load(f)

for doc in documents:
    response = bedrock_client.invoke_model(
                modelId=embed_model,
                body=json.dumps({"inputText": doc['sql_query']})
            )
    doc['question_embedding'] = json.loads(response['body'].read())['embedding']
    os_client.index(
        index=index_name,
        body=doc
    )